<mat-toolbar>
    <a routerLink="/home" mat-icon-button class="example-icon" aria-label="open navbar menu">
      <mat-icon>menu</mat-icon>
    </a>
    <span>My App</span>
    <span class="example-spacer"></span>
    <ng-container *ngIf="authInfo !== null && authInfo.token">
        <span>{{authInfo.user.username}}</span>
    </ng-container>
    <a routerLink="/create-tab" mat-icon-button aria-label="Create a new tab" matTooltip="Create a new tab">
      <mat-icon>add</mat-icon>
    </a>
    <ng-container *ngIf="authInfo !== null && authInfo.token">
      <button (click)="logout()" mat-button aria-label="Logout Button">
        Logout
      </button>
    </ng-container>
    <ng-container *ngIf="authInfo === null || !authInfo.token">
      <button (click)="opneLoginModal()" mat-button aria-label="Login Button">
        Login
      </button>
    </ng-container>
</mat-toolbar>
