/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: 'Merriweather Sans',"Helvetica Neue", sans-serif; 
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Serif KR';
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    visibility: hidden;
}